{% extends 'layout/base.html' %}
{% load static %}
{% block head_js %}
<link rel="stylesheet" href="{% static '/vendor/flatpickr/css/flatpickr.min.css' %}" />
<script src="{% static '/vendor/flatpickr/js/flatpickr.min.js' %}"></script>
<script src="{% static '/js/ajax.autocomplete.js' %}"></script>
{% endblock %}
{% block content %}
<style>
    .autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
    .autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
    .autocomplete-selected { background: #F0F0F0; }
    .autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
    .autocomplete-group { padding: 2px 5px; }
    .autocomplete-group strong { display: block; border-bottom: 1px solid #000; }

    @media (min-width: 960px) {
        .1uk-form-horizontal .uk-form-label {
            width: 200px;
        }
        .1uk-form-horizontal .uk-form-controls {
            margin-left: 200px;
        }
    }
</style>
<div class="content-padder content-background">
    <div class="uk-section-xsmall uk-section-default header">
        <div class="uk-container uk-container-large">
            <ul class="uk-breadcrumb">
                <li><a href="/">Home</a></li>
                <li><a href="{% url 'rules' %}">Rules</a></li>
                <li><span href="">{{data.name}}</span></li>
            </ul>
        </div>
    </div>
    <div class="uk-section-xsmall">
        <div class="uk-column-1-2" style="padding: 0px 20px">
            <h2>Edit Rule</h2>
            <div style="text-align: right; padding-right: 20px;">
                <a id="delete" href="#">
                    <span class="uk-margin-small-right" uk-icon="icon: trash; ratio: 1"></span>
                </a>
            </div>
        </div>
    </div>
    <div class="uk-container uk-overflow-auto">
        {% if not_found%}
            <div class="uk-alert-danger" style="max-width: 500px;" uk-alert>
                <a class="uk-alert-close" uk-close></a>
                <p><b>Not Found</b>! Rule with mention id doesn't exists</p>
            </div>
        {% else %}
        {% if success %}
        <div class="uk-alert-success" style="max-width: 500px;" uk-alert>
            <a class="uk-alert-close" uk-close></a>
            <p><b>Success</b>! created rule successfully.</p>
        </div>
        {% elif error %}
        <div class="uk-alert-danger" style="max-width: 500px;" uk-alert>
            <a class="uk-alert-close" uk-close></a>
            <p><b>Failed</b>! {{error}}</p>
        </div>
        {% endif %}
        <form class="uk-form-horizontal" action="" method="post">
            {% csrf_token %}
            <table class="uk-table">
                <tr>
                    <td>
                        <div class="uk-margin">
                            <label class="uk-form-label uk-text-default" for="form-horizontal-select">Rule Name</label>
                            <div class="uk-form-controls">
                                <input class="uk-input" name="name" type="text" placeholder="" value="{{data.name}}" required>
                            </div>
                        </div>
                        <hr>
                    </td>
                    <td>
                        <div class="uk-margin">
                            <label class="uk-form-label uk-text-default" for="form-horizontal-select">Cluster</label>
                            <div class="uk-form-controls">
                                <input class="uk-select cluster" name="cluster_name" type="text" placeholder="" value="{{data.cluster.name}}" required>
                                <input id="cluster" name="cluster_id" type="hidden" value="{{data.cluster.id}}" required>
                            </div>
                        </div>
                        <hr>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="uk-margin">
                            <label class="uk-form-label uk-width-1-4 uk-text-default ">At Time</label>
                            <div class="uk-form-controls">
                                <input id="time" name="time" class="uk-input flatpickr" type="text" placeholder="Search text..." value="{{data.run_at}}" required>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="uk-margin">
                            <label class="uk-form-label uk-text-default" for="form-horizontal-select">Action</label>
                            <div class="uk-form-controls">
                                <select name="action" class="uk-select" id="form-horizontal-select">
                                    <option value="SCALE_DOWN" {% if data.action == "SCALE_DOWN"%}selected{% endif %}>Scale Down</option>
                                    <option value="SCALE_UP" {% if data.action == "SCALE_UP"%}selected{% endif %}>Scale Up</option>
                                </select>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <label class="uk-form-label uk-width-1-4 uk-text-default ">Replication Lag</label>
                            <div class="uk-form-controls">
                                <select name="r_op" class="uk-select uk-width-1-3" id="select-r-op">
                                    <option value="equal" {% if data.rule.rl_op == 'equal' %}selected{% endif %}>equal</option>
                                    <option value="less" {% if data.rule.rl_op == 'less' %}selected{% endif %}>less than</option>
                                    <option value="greater" {% if data.rule.rl_op == 'greater' %}selected{% endif %}>greater than</option>
                                </select>
                                <input id="r_threshold" name="r_threshold" class="uk-input uk-width-3-5" type="text" placeholder="EC2 types..." value="{{data.rule.rl_threshold}}" required>
                            </div>
                        </div>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <div id="ec2_type_div" style="display: {% if data.cluster.type == 'EC2' %}block{% else %}none{% endif %}">
                            <label class="uk-form-label uk-width-1-4 uk-text-default ">EC2 Instance Type</label>
                            <div class="uk-form-controls">
                                <input id="ec2_type" name="ec2_type" class="uk-select ec2_types" type="text" placeholder="EC2 types..." value="{{data.rule.ec2_type}}">
                            </div>
                        </div>
                        <div id="rds_type_div" style="display: {% if data.cluster.type == 'RDS' %}block{% else %}none{% endif %}">
                            <label class="uk-form-label uk-width-1-4 uk-text-default ">RDS Instance Type</label>
                            <div class="uk-form-controls">
                                <input id="rds_type" name="rds_type" class="uk-select rds_types" type="text" placeholder="RDS types..." value="{{data.rule.rds_type}}">
                            </div>
                        </div>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: right;">
                        <button id="save_rule" class="uk-button uk-button-primary" type="submit">Save Rule</button>
                    </td>
                </tr>
            </table>
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}
{% block js_bottom %}{{ block.super }}
<script>
{% if success %}
    window.location.href = "{% url 'rules' %}#ar";
{% else %}
var ec2_types = {{ ec2_types|safe }}
var rds_types = {{ rds_types|safe }}
var clusters = {{ clusters | safe }}
var notyf = new Notyf();
$(document).ready(function() {
    $(".ec2_types").autocomplete({
      lookup: ec2_types,
      minChars: 0,
    });

    $(".rds_types").autocomplete({
      lookup: rds_types,
      minChars: 0,
    });

    $(".cluster").autocomplete({
      lookup: clusters,
      minChars: 0,
      onSelect: function (suggestion) {
        $("#cluster").val(suggestion.data);
      }
    });

    $(".flatpickr").flatpickr({
        enableTime: true,
        noCalendar: true,
        dateFormat: "H:i",
        time_24hr: false
    });

    $("#delete").on("click", function () {
        UIkit.modal.confirm('Deleting! Are you sure to delete?', { labels: { ok: 'Yes', cancel: 'No' } }).then(function() {
            console.log('Confirmed.');
            delete_rule();
        }, function () {
             console.log('Cancel delete.')
        });
    });
});

function delete_rule() {
    $.ajax({
        url: '{% url "edit_rule" data.id %}',
        type: 'DELETE',
        success: function(result) {
            // Do something with the result
        }
    }).done(function (){
        notyf.success("Success! deleted rule successfully");
        window.location.href = "{% url 'rules' %}#dr";
    }).fail(function () {
        notyf.error('Fail! deleting rule is failed!');
    });
}
{% endif %}
</script>
{% endblock %}