{% extends 'layout/base.html' %}
{% load static %}
{% block content %}
<div class="content-padder content-background">
    <div class="uk-section-xsmall uk-section-default header">
        <div class="uk-container uk-container-large">
            <ul class="uk-breadcrumb">
                <li><a href="/">Home</a></li>
                <li><span href="">Rules</span></li>
            </ul>
        </div>
    </div>
    <div class="uk-section-xsmall">
        <div class="uk-column-1-2" style="padding: 0px 20px">
            <h2>Rules</h2>
            <div class="uk-container-small uk-align-right">
                <a class="uk-button uk-button-primary" href="{% url 'create_rule' %}" uk-toggle>New Rule</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js_bottom %}{{ block.super }}
<script>
    $(document).ready(function(){
        addSecret();
        $("#btn__cancel").on("click", function() {
            //$("#modal-create-secret form").trigger("reset");
        });
    });
</script>
{% endblock %}