{% extends 'layout/base.html' %}
{% load static %}
{% block content %}
<div class="content-padder content-background">
    <div class="uk-section-xsmall uk-section-default header">
        <div class="uk-container uk-container-large">
            <ul class="uk-breadcrumb">
                <li><a href="/">Home</a></li>
                <li><span href="">Secrets</span></li>
            </ul>
        </div>
    </div>
    <div class="uk-section-xsmall">
        <div class="uk-column-1-2" style="padding: 0px 20px">
            <h2>Manage Secrets</h2>
            <div class="uk-container-small uk-align-right">
<!--                <a class="uk-button uk-button-primary" href="#modal-create-secret" uk-toggle>New Secret</a>-->
            </div>
        </div>
    </div>
    <div class="uk-container uk-container-large uk-overflow-auto">
        <table id="example" class="uk-table uk-table-small uk-table-middle uk-table-hover uk-table-divider .uk-table-striped" style="width:100%">
            <thead style="background: #232f3e;">
                <tr>
                    <th class="uk-table-shrink" style="width:20px"></th>
                    <th>Name</th>
                    <th>Username</th>
                    <th>Password</th>
                </tr>
            </thead>
            <tbody style="background-color: #ffffff; color: black;">
                {% for s in secrets %}
                    <tr>
                        <td style="padding-top: 18px"><input class="uk-checkbox" type="checkbox"></td>
                        <td>
                            <a class="edit-model" href="#modal-create-secret"
                               data-id="{{s.id}}" data-name="{{s.name}}"
                               data-username="{{s.user_name}}" data-password="{{s.password}}"
                               uk-toggle>{{s.name}}</a>
                        </td>
                        <td>{{s.user_name}}</td>
                        <td>{{s.password}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- This is the modal -->
<div id="modal-create-secret" uk-modal>
    <div class="uk-modal-dialog">
        <div class="uk-modal-header">
            <h2 class="uk-modal-title">Create Secret</h2>
        </div>
        <form action="credentials-form">
            <div class="uk-modal-body">
                    <div class="uk-margin">
                        <label class="uk-form-label">Name</label>
                        <div class="uk-form-controls">
                            <input class="uk-input" id="name" name="name" type="text" placeholder="Name" required>
                        </div>
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label">Database Username</label>
                        <div class="uk-form-controls">
                            <input class="uk-input" id="username" name="username" type="text" placeholder="Username" required>
                        </div>
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label">Database Password</label>
                        <div class="uk-form-controls">
                            <input class="uk-input" id="password" name="password" type="password" placeholder="Password" required>
                        </div>
                    </div>
                <input name="secret_id" id="secret_id" type="hidden">
            </div>
            <div class="uk-modal-footer uk-text-right">
                <button class="uk-button uk-button-default uk-modal-close" type="button" id="btn__cancel">Cancel</button>
                <button class="uk-button uk-button-primary" type="button" id="save__btn">Save</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block js_bottom %}{{ block.super }}
<script>
    var notyf = new Notyf();

    $(document).ready(function(){
        addSecret();
        $("#btn__cancel").on("click", function() {
            $("#modal-create-secret form").trigger("reset");
        });

        $("#example").DataTable();
    });

    $(".edit-model").on("click", function(e) {
        $("#secret_id").val($(this).data('id'));
        $("#name").val($(this).data('name'));
        $("#username").val($(this).data('username'));
        $("#password").val($(this).data('password'));
    });

    $("#save__btn").on("click", function() {
        $form = $("#modal-create-secret form");
        validateForm($form);
        if(!$form.valid()){
            return
        }

        var id = $("#secret_id").val();
        $.ajax({
            url: '{% url "secrets" %}/'+id,
            method: 'POST',
            data: {
                "username": $("#username").val(),
                "password": $("#password").val()
            },
            headers: {
                "Content-Type": "application/x-www-form-urlencoded"
            }
        }).done(function() {
            notyf.success("Success! updated successfully");
            setInterval(function(){
                window.location.href = "{% url 'secrets' %}";
            }, 3000);
        }).fail(function() {
            notyf.error("Fail to update secret");
        });

        $("#modal-create-secret").hide();
    });

</script>
{% endblock %}