{% extends 'layout/base.html' %}
{% load static %}
{% block content %}
<div class="content-padder content-background">
    <div class="uk-section-xsmall uk-section-default header">
        <div class="uk-container uk-container-large">
            <ul class="uk-breadcrumb">
                <li><a href="/">Home</a></li>
                <li><span href="">Secrets</span></li>
            </ul>
        </div>
    </div>
    <div class="uk-container uk-container-large uk-overflow-auto">
        <h3>Manage Secrets</h3>
        <div class="uk-container-small uk-align-right">
            <a class="uk-button uk-button-primary" href="#modal-create-secret" uk-toggle>New Secret</a>
        </div>
        <table id="example" class="uk-table uk-table-small uk-table-middle uk-table-hover uk-table-divider .uk-table-striped" style="width:100%">
            <thead style="background: #232f3e;">
                <tr>
                    <th>Name</th>
                    <th>Username</th>
                    <th>Password</th>
                </tr>
            </thead>
            <tbody style="background-color: #ffffff; color: black;">
                <tr>
                    <td>test</td>
                    <td>user</td>
                    <td>password</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- This is the modal -->
<div id="modal-create-secret" uk-modal>
    <div class="uk-modal-dialog">
        <div class="uk-modal-header">
            <h2 class="uk-modal-title">Create Secret</h2>
        </div>
        <form>
        <div class="uk-modal-body">
                <div class="uk-margin">
                    <label class="uk-form-label">Name</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" id="name" name="name" type="text" placeholder="Name" required>
                    </div>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label">Database Username</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" id="username" name="username" type="text" placeholder="Username" required>
                    </div>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label">Database Password</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" id="password" name="password" type="password" placeholder="Password" required>
                    </div>
                </div>

        </div>
        <div class="uk-modal-footer uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button" id="btn__cancel">Cancel</button>
            <button class="uk-button uk-button-primary" type="button" id="create__btn">Create</button>
        </div>
        </form>
    </div>
</div>
{% endblock %}
{% block js_bottom %}{{ block.super }}
<script>
    $(document).ready(function(){
        addSecret();
        $("#btn__cancel").on("click", function() {
            $("#modal-create-secret form").trigger("reset");
        });
    });
</script>
{% endblock %}