{% extends 'layout/base.html' %}
{% block content %}
<div class="content-padder content-background">
    <div class="uk-section-xsmall uk-section-default header">
        <div class="uk-container uk-container-large">
            <ul class="uk-breadcrumb">
                <li><a href="#">Home</a></li>
                <li><span href="">Dashboard</span></li>
            </ul>
        </div>
    </div>
    <div class="uk-section-small">
        <div class="uk-container uk-container-large">
            <table id="example" class="uk-table uk-table-hover uk-table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Office</th>
                        <th>Age</th>
                        <th>Start date</th>
                        <th>Salary</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Tiger Nixon</td>
                        <td>System Architect</td>
                        <td>Edinburgh</td>
                        <td>61</td>
                        <td>2011/04/25</td>
                        <td>$320,800</td>
                    </tr>
                    <tr>
                        <td>Garrett Winters</td>
                        <td>Accountant</td>
                        <td>Tokyo</td>
                        <td>63</td>
                        <td>2011/07/25</td>
                        <td>$170,750</td>
                    </tr>
                    <tr>
                        <td>Ashton Cox</td>
                        <td>Junior Technical Author</td>
                        <td>San Francisco</td>
                        <td>66</td>
                        <td>2009/01/12</td>
                        <td>$86,000</td>
                    </tr>
                    <tr>
                        <td>Cedric Kelly</td>
                        <td>Senior Javascript Developer</td>
                        <td>Edinburgh</td>
                        <td>22</td>
                        <td>2012/03/29</td>
                        <td>$433,060</td>
                    </tr>
                    <tr>
                        <td>Airi Satou</td>
                        <td>Accountant</td>
                        <td>Tokyo</td>
                        <td>33</td>
                        <td>2008/11/28</td>
                        <td>$162,700</td>
                    </tr>
                    <tr>
                        <td>Brielle Williamson</td>
                        <td>Integration Specialist</td>
                        <td>New York</td>
                        <td>61</td>
                        <td>2012/12/02</td>
                        <td>$372,000</td>
                    </tr>
                    <tr>
                        <td>Herrod Chandler</td>
                        <td>Sales Assistant</td>
                        <td>San Francisco</td>
                        <td>59</td>
                        <td>2012/08/06</td>
                        <td>$137,500</td>
                    </tr>
                </tbody>
            </table>
            <div uk-grid class="uk-child-width-1-1@s uk-child-width-1-2@m uk-child-width-1-4@xl">
                <div>
                    <div class="uk-card uk-card-default uk-card-body">
                        <span class="statistics-text">Cluster Count</span><br />
                        <span class="statistics-number">
                            14
                        </span>
                        <br />
                        <br />
                        <br />
                        <br />
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default uk-card-body uk-column-divider">
                        <span class="statistics-text">Machines</span><br /><br />
                        <div class="uk-column-1-3 uk-column-divider">
                            <p>
                                <span class="statistics-number">
                                    <span class="uk-label uk-label-danger">
                                        Total<span class="ion-arrow-down-c"></span>
                                    </span><br />
                                    123
                                </span>
                            </p>
                            <p>
                                <span class="statistics-number">
                                    <span class="uk-label">
                                        EC2<span class="ion-arrow-down-c"></span>
                                    </span><br />
                                    23
                                </span>
                            </p>
                            <p>
                                <span class="statistics-number">
                                    <span class="uk-label">
                                        RDS<span class="ion-arrow-down-c"></span>
                                    </span><br />
                                    23
                            </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}