{% extends 'layout/base.html' %}
{% load static %}
{% block content %}
<style>
    .error-info {
    }
</style>
<div class="content-padder content-background">
    <div class="uk-section-xsmall uk-section-default header">
        <div class="uk-container uk-container-large">
            <ul class="uk-breadcrumb">
                <li><a href="#">Home</a></li>
                <li><span href="">Instances</span></li>
            </ul>
        </div>
    </div>
    <div class="uk-section-small">
        <div class="uk-container uk-container-large uk-overflow-auto">
            {% if error %}
                <div class="error">Cluster Not Found</div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}