{% load static %}
<html>
<head>
    <title>PyGMy</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static '/vendor/uikit/css/uikit.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static '/vendor/datatables/css/dataTables.uikit.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/notyf.min.css' %}" />

    <script src="{% static '/vendor/jquery/js/jquery.min.js' %}"></script>
    <script src="{% static '/vendor/jquery/js/jquery.validate.min.js' %}"></script>
    <script src="{% static '/vendor/uikit/js/uikit.min.js' %}"></script>
    <script src="{% static '/vendor/uikit/js/uikit-icons.min.js' %}"></script>

    <script src="{% static '/vendor/datatables/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static '/vendor/datatables/js/dataTables.uikit.min.js' %}"></script>
    <script src="{% static '/vendor/datatables/js/dataTables.rowGroup.min.js' %}"></script>

    {% block head_js %}{% endblock %}
</head>
<body>
    {% include 'layout/header.html' %}
    {% include 'layout/sidenav.html' %}

    {% block content %}
    {% endblock %}

    {% block js_bottom %}
    <script src="{% static '/vendor/chart/js/2.7.0/Chart.min.js' %}"></script>
    <script src="{% static '/vendor/jquery/js/jquery.transit.min.js' %}"></script>
    <script src="{% static '/js/notyf.min.js' %}"></script>

    <!-- Required Overall Script -->
    <script src="{% static '/js/script.js' %}"></script>

    <!-- Status Updater -->
    <script src="{% static '/js/status.js' %}"></script>
    {% endblock %}
</body>
</html>